src/InstrumentationEngine.Attach/EngineConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- root type -->
    <xs:element name="InstrumentationEngineConfiguration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="InstrumentationEngine">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Settings" type="settingsType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="InstrumentationMethods" type="instrumentationMethodsType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- level 1 types -->
    <xs:complexType name="instrumentationMethodsType">
        <xs:sequence>
            <xs:element name="AddInstrumentationMethod" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Settings" type="settingsType" />
                    </xs:sequence>
                    <xs:attribute name="ConfigPath" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- other types -->
    <xs:complexType name="settingsType">
        <xs:sequence>
            <xs:element name="Setting" minOccurs="0" maxOccurs="unbounded" >
                <xs:complexType>
                    <xs:attribute name="Name" type="xs:string" use="required" />
                    <xs:attribute name="Value" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>