src/InstrumentationEngine.Attach/InstrumentationConfigurationSources.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="InstrumentationConfigurationSources">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="InstrumentationConfigurationSource" maxOccurs="10">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Platforms">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Platform" minOccurs="1" maxOccurs="10">
                                            <xs:complexType>
                                                <xs:attribute name="Chip" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:pattern value="x86|x64" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="Path" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:maxLength value="260" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Settings" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Setting" maxOccurs="10" >
                                            <xs:complexType>
                                                <xs:attribute name="Name" type="xs:string" use="required" />
                                                <xs:attribute name="Value" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>